:root {
  color: #252525;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #f5f5f5;
}

svg {
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
